
/* -------------------------------
[infomation]
・背景位置決め及び背景色装飾クラス
[important point]
・以下の属性は、コンテンツの位置決めに使用しているため、修正不可
  - position
  - display
  - flex-flow
  - align-items
  - justify-content
----------------------------------*/
._slsl_background{
  position:relative;
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:center;
}

/* -------------------------------
[infomation]
・画像加工用クラス
  画像透過/画像の丸め等は、当クラスへ記載
[important point]
・特になし
----------------------------------*/
._slsl_image{
  border-radius:40px;
}

/* -------------------------------
[infomation]
・スライドバー/画像下部のスライドポイントの親クラス
[important point]
・位置決めに使用しているため、修正不可
  （スライドバー/画像下部のスライドポイントの形状修正は、別クラスに記載）
----------------------------------*/
._slsl_slid_parent{
  position:absolute;
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:space-between;
}

/* -------------------------------
[infomation]
・スライドバーの表示定義クラス
[important point]
・スライドバーの表示内容は、当クラスを修正
----------------------------------*/
._slsl_slidbar{
  background-color:rgb(210,210,210);
  border:1px solid rgb(210,210,210);
  width:20px;
  height:100px;
  opacity:0.6;
  border-radius:5px;
}

/* -------------------------------
[infomation]
・スライドバーのマウスを置いた際の変更クラス
[important point]
・修正可
----------------------------------*/
._slsl_slidbar:hover{
  opacity:1.0;
  border:1px solid rgb(156,156,156);
}

/* -------------------------------
[infomation]
・画像下部のスライドポイントの親クラス
[important point]
・位置決めに使用しているため、修正不可
  （画像下部のスライドポイントの形状修正は、別クラスに記載）
----------------------------------*/
._slsl_slidpoint_parent{
  opacity:1.0;
  display:flex;
  justify-content:center;
  align-self:flex-end;
  flex-flow:row wrap;
  flex-basis:50%;
}

/* -------------------------------
[infomation]
・画像下部のスライドポイントのサイズ定義用クラス
[important point]
・スライドポイントの大きさ/空白の修正を行うクラス
----------------------------------*/
._slsl_slidpoint_size{
  width:20px;
  height:15px;
  margin-left:5px;
}

/* -------------------------------
[infomation]
・画像表示状態にないスライドポイントの表示クラス
[important point]
・修正可
・スライドポイントの大きさは、クラス:[_slsl_slidpoint_size]にて定義するため、
  当クラスに記載不可
----------------------------------*/
._slsl_slidpoint{
  background-color:rgb(210,210,210);
  border:1px solid rgb(210,210,210);
  opacity:0.6;
  border-radius:7px;
}

/* -------------------------------
[infomation]
・画像表示時のスライドポイントの表示クラス
[important point]
・修正可
・スライドポイントの大きさは、クラス:[_slsl_slidpoint_size]にて定義するため、
  当クラスに記載不可
----------------------------------*/
._slsl_slidpoint_select{
  background-color:rgb(181,181,181);
  border:1px solid rgb(181,181,181);
  opacity:1.0;
  border-radius:7px;
}

/* -------------------------------
[infomation]
・スライドポイントにマウスを置いた際の変更クラス
[important point]
・修正可
----------------------------------*/
._slsl_slidpoint:hover{
  opacity:1.0;
  border:1px solid rgb(156,156,156);
}

._slsl_slidpoint_select:hover{
  opacity:1.0;
  border:1px solid rgb(156,156,156);
}

